# Network Analysis | Uber 
## Ray Johnson

My name is Ray Johnson and I am a student finishing my final semester at the Graduate School of Information Science at the University of Illinois in Urbana-Champaign. 

I end this semester with three courses on Statistical Modeling (with R), an Introduction to Programming with Python, and Network Analysis. In addition, I have had a course in Data Cleaning, Introduction to Databases with MySql, and a Web Design and Accessibility course for Organizations.

I've acquired certificates from Lynda.com in Introduction to Programming with JavaScript, and completed three certificates from John Hopkin's Data Science specialization in Data Science.

I intend to employ methods I've learned in and out of the university to explore the datasets released to the public with the Freedom of Information Act, in order to see what I can glean from their data.

## About the Data (Data Sources Listed Below, see 'Data' Under 'Bibliography')

Information here is paraphrased in part from source listed in Bibliography as "Uber Pickups in New York City," and specific uber drives with context for purpose of drives are cited from "My Uber Drives Dataset" listed below.

FiveThirtyEight obtained data of 4.5 million Uber pickups in New York City from April to September 2014, then 14.3 additional Uber pickups from January to June 2015. 

FiveThirtyEight obtained the data from the NYC Taxi and Limousine Commission (TLC) via Freedom of Information Law request on July 20, 2015. 

- Uber Trip data from 2014 (April-September) separated by month - detailed location info
- Uber trip data from 2015 (January-June), less fine-grained location information

- Non-Uber For-Hire-Vehicle Trips; while varying by company, the observations might include "day of trip," "time of trip," "pickup location," "driver's for-hire license number," and "vehicle's for hire license number."

### Trip Data from 2014, FiveThirtyEight

Six files containing raw data of Uber pickups in NYC from April to September 2014, separated by month.

Each has the following columns:
Date/Time : The date and time of the Uber pickup
Lat : The latitude of the Uber pickup
Lon : The longitude of the Uber pickup
Base : The TLC base company code affiliated with the Uber pickup

These files are named:

uber-raw-data-apr14.csv
uber-raw-data-aug14.csv
uber-raw-data-jul14.csv
uber-raw-data-jun14.csv
uber-raw-data-may14.csv
uber-raw-data-sep14.csv
Uber trip data from 2015

Also included is the file uber-raw-data-janjune-15.csv This file has the following columns:

Dispatching_base_num : The TLC base company code of the base that dispatched the Uber
Pickup_date : The date and time of the Uber pickup
Affiliated_base_num : The TLC base company code affiliated with the Uber pickup
locationID : The pickup location ID affiliated with the Uber pickup
The Base codes are for the following Uber bases:

B02512 : Unter B02598 : Hinter B02617 : Weiter B02682 : Schmecken B02764 : Danach-NY B02765 : Grun B02835 : Dreist B02836 : Drinnen

For coarse-grained location information from these pickups, the file taxi-zone-lookup.csv shows the taxi Zone (essentially, neighborhood) and Borough for each locationID.

Non-Uber FLV trips

The dataset also contains 10 files of raw data on pickups from 10 for-hire vehicle (FHV) companies. The trip information varies by company, but can include day of trip, time of trip, pickup location, driver's for-hire license number, and vehicle's for-hire license number.

These files are named:

American_B01362.csv
Diplo_B01196.csv
Highclass_B01717.csv
Skyline_B00111.csv
Carmel_B00256.csv
Federal_02216.csv
Lyft_B02510.csv
Dial7_B00887.csv
Firstclass_B01536.csv
Prestige_B01338.csv
Aggregate Statistics

There is also a file other-FHV-data-jan-aug-2015.csv containing daily pickup data for 329 FHV companies from January 2015 through August 2015.

The file Uber-Jan-Feb-FOIL.csv contains aggregated daily Uber trip statistics in January and February 2015.

## My Uber Drives (2016) | Dataset of Uber Driver Zeeshan-ul-hassan Usmani
### Content
Geography: USA, Sri Lanka and Pakistan

Time period: January - December 2016

Unit of analysis: Drives

Total Drives: 1,155

Total Miles: 12,204

Dataset: The dataset contains Start Date, End Date, Start Location, End Location, Miles Driven and Purpose of drive (Business, Personal, Meals, Errands, Meetings, Customer Support etc.)

## Uber_NYC_Enriched, Yannis Pappas 
### Content
https://www.kaggle.com/yannisp/uber-pickups-enriched
CSV file of Uber Pickups in NYC from 01/01/15-06/30/15, with weather data from National Centers for Environmental Information, LocationID to Burough mapping by FiveThirtyEight, and NYC public holidays.

From YannisPappas' Kaggle Page:
- pickup_dt: Time period of the observations.

- borough: NYC's borough.

- pickups: Number of pickups for the period.

- spd: Wind speed in miles/hour.

- vsb: Visibility in Miles to nearest tenth.

- temp: temperature in Fahrenheit.

- dewp: Dew point in Fahrenheit.

- slp: Sea level pressure.

- pcp01: 1-hour liquid precipitation.

- pcp06: 6-hour liquid precipitation.

- pcp24: 24-hour liquid precipitation.

- sd: Snow depth in inches.

- hday: Being a holiday (Y) or not (N).

## Bibliography

The work listed below is cited according to the standards of the seventh edition of the Modern Language Association. 
This aspect of workflow benefitted from Zotero; an auto-generated report of listed sources, including abstracts from works consulted, can be found at this web address: http://cpanel.ischool.illinois.edu/~rrjohns2/bibreport.html

## Works Consulted

### Books:

Downey, Allen B. Think Complexity. N.p. Web. 18 Apr. 2017. 1.2.3.

### Book Sections
Brownley, Clinton W. “Concatenate Data from Multiple Workbooks.” Working with 
Excel Files in Python. O’Reilly Media, Inc., 2016. Safari Books Online. Web. 8 May 2017.

Diener, Michael. “Python Geospatial Analysis Cookbook.” Python Geospatial 
Analysis Cookbook. Packt Publishing, 2015. Safari Books Online. Web. 8 May 2017.

ericmjl. “Network-Analysis-Made-Simple.” GitHub. N.p., n.d. Web. 21 Apr. 2017.

Fandango, Armando. “Statistics and Linear Algebra.” Python Data Analysis - Second Edition. 2nd ed. Packt Publishing, 2017. Safari Books Online. Web. 8 May 2017.

Idris, Ivan. “Creating Attractive Data Visualizations.” Python Data Analysis 
Cookbook. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

Lawhead, Joel. “Automating QGIS.” QGIS Python Programming Cookbook - Second Edition. 2nd ed. Packt Publishing, 2017. Safari Books Online. Web. 8 May 2017.

Madhavan, Samir. “Uncovering Machine Learning.” Mastering Python for Data Science. Packt Publishing, 2015. Safari Books Online. Web. 8 May 2017.

McKinney, Wes. “Data Loading, Storage, and File Formats.” Python for Data Analysis. O’Reilly Media, Inc., 2012. Safari Books Online. Web. 8 May 2017.

---. “Data Wrangling: Clean, Transform, Merge, Reshape.” Python for Data Analysis. O’Reilly Media, Inc., 2012. Safari Books Online. Web. 8 May 2017.

---. “Plotting and Visualization.” Python for Data Analysis. O’Reilly Media, Inc., 2012. Safari Books Online. Web. 8 May 2017.

Mueller, John Paul, and Luca Massaron. “Dealing with Dates in Your Data.” Python for Data Science For Dummies. For Dummies, 2015. Safari Books Online. Web. 8 May 2017.

---. “Dealing with Missing Data.” Python for Data Science For Dummies. For Dummies, 2015. Safari Books Online. Web. 8 May 2017.

---. “Visualizing the Data.” Python for Data Science For Dummies. For Dummies, 2015. Safari Books Online. Web. 8 May 2017.

Nelli, Fabio. “Appendix B: Open Data Sources.” Python Data Analytics: Data Analysis and Science Using Pandas, Matplotlib, and the Python Programming Language. Apress, 2015. Safari Books Online. Web. 8 May 2017.

---. “Data Visualization with Matplotlib.” Python Data Analytics: Data Analysis and Science Using Pandas, Matplotlib, and the Python Programming Language. Apress, 2015. Safari Books Online. Web. 8 May 2017.

---. “Python and Data Analysis.” Python Data Analytics: Data Analysis and Science Using Pandas, Matplotlib, and the Python Programming Language. Apress, 2015. Safari Books Online. Web. 8 May 2017.

Persson, Magnus Vilhelm, and Luiz Felipe Martins. “A. More on Jupyter Notebook and Matplotlib Styles.” Mastering Python Data Analysis. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

---. “Learning About Models.” Mastering Python Data Analysis. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

Squire, Megan. “Expanding Your Data Mining Toolbox.” Mastering Data Mining with Python – Find Patterns Hidden in Your Data. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

Subramanian, Gopi. “Data Analysis – Explore and Wrangle.” Python Data Science Cookbook. Packt Publishing, 2015. Safari Books Online. Web. 8 May 2017.
Vo.T.H, Phuong et al. “Advanced Uses of Pandas for Data Analysis.” Python: Data Analytics and Visualization. Packt Publishing, 2017. Safari Books Online. Web. 8 May 2017.


### DataCamp Course:

Ma, Eric. “Introduction to Networks | Python.” Web. 21 Apr. 2017.

### GitHub Repository Walk-Throughs:

ericmjl. “Network-Analysis-Made-Simple.” GitHub. Web. 18 Apr. 2017. https://github.com/ericmjl/Network-Analysis-Made-Simple.

briatte. "Awesome Network Analysis." GitHub. 14 Apr. 2017
https://github.com/briatte/awesome-network-analysis.

"Network Analysis Made Simple." GitHub. 14 Apr. 2017.
https://github.com/ericmjl/Network-Analysis-Made-Simple

## Data Resources

### Uber Data - Over 4.5 Million Uber pick ups in New York City Explored

andrewflowers. “Fivethirtyeight/Uber-Tlc-Foil-Response.” GitHub. Web. 16 Apr. 2017.
https://github.com/toddwschneider/nyc-taxi-data.

"Social Network Analysis with Python," a talk given by Maksim Tsvetovat and Alex Kouznetsov at PyCon 2012.
https://github.com/maksim2042/PyCon2012

### "My Uber Drives" Data
Zeeshan-ul-hassan Usmani, My Uber Drives Dataset, Kaggle Dataset Repository, March 23, 2017.”

### "Uber Pickups in New York City" Data
“Uber Pickups in New York City.” N.p., n.d. Web. 8 May 2017. https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city

### Freedom of Information Act - FOIL Datasets, Uber

https://github.com/fivethirtyeight/uber-tlc-foil-response/tree/master/uber-trip-data

https://archive.org/details/nycTaxiTripData2013

### Import Necessary Modules for Processing

In [13]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import networkx as nx # 'creation, manipulation, and study of structure, dynamics, and functions of complex networks' 
import matplotlib.pyplot as plt # plotting library/numerical mathematics extensions
import seaborn as sns # attractive/informative stat graphics in Python - built on top of matplotlib
import datetime
from sklearn.cluster import KMeans # K-Means Clustering
from sklearn.decomposition import PCA # Principal Component Analysis Module

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

In [2]:
%matplotlib inline

Create dataframe for January-February Uber data. Data is stored on an external hard drive.

In [15]:
dfJanFeb =pd.read_csv("D:/networkUber/pickupsNY/Uber-Jan-Feb-FOIL.csv") # reads and creates df

In [17]:
print(df)

    dispatching_base_number       date  active_vehicles  trips
0                    B02512   1/1/2015              190   1132
1                    B02765   1/1/2015              225   1765
2                    B02764   1/1/2015             3427  29421
3                    B02682   1/1/2015              945   7679
4                    B02617   1/1/2015             1228   9537
5                    B02598   1/1/2015              870   6903
6                    B02598   1/2/2015              785   4768
7                    B02617   1/2/2015             1137   7065
8                    B02512   1/2/2015              175    875
9                    B02682   1/2/2015              890   5506
10                   B02765   1/2/2015              196   1001
11                   B02764   1/2/2015             3147  19974
12                   B02765   1/3/2015              201   1526
13                   B02617   1/3/2015             1188  10664
14                   B02598   1/3/2015              818   7432
15                   B02682   1/3/2015              915   8010
16                   B02512   1/3/2015              173   1088
17                   B02764   1/3/2015             3215  29729
18                   B02512   1/4/2015              147    791
19                   B02682   1/4/2015              812   5621
20                   B02598   1/4/2015              746   5223
21                   B02765   1/4/2015              183    993
22                   B02617   1/4/2015             1088   7729
23                   B02764   1/4/2015             2862  20441
24                   B02512   1/5/2015              194    984
25                   B02682   1/5/2015              951   6012
26                   B02617   1/5/2015             1218   7899
27                   B02764   1/5/2015             3387  20926
28                   B02598   1/5/2015              907   5798
29                   B02765   1/5/2015              227   1133
..                      ...        ...              ...    ...
324                  B02764  2/24/2015             3965  34686
325                  B02512  2/24/2015              247   1869
326                  B02598  2/24/2015             1061   9954
327                  B02682  2/24/2015             1346  12497
328                  B02617  2/24/2015             1456  13719
329                  B02765  2/24/2015              698   6390
330                  B02512  2/25/2015              246   1647
331                  B02598  2/25/2015             1076   9405
332                  B02765  2/25/2015              706   6178
333                  B02682  2/25/2015             1395  12693
334                  B02617  2/25/2015             1473  12811
335                  B02764  2/25/2015             3934  31957
336                  B02598  2/26/2015             1134  10661
337                  B02617  2/26/2015             1539  14461
338                  B02682  2/26/2015             1465  13814
339                  B02512  2/26/2015              243   1797
340                  B02765  2/26/2015              745   6744
341                  B02764  2/26/2015             4101  36091
342                  B02765  2/27/2015              786   7563
343                  B02617  2/27/2015             1551  14677
344                  B02598  2/27/2015             1114  10755
345                  B02512  2/27/2015              272   2056
346                  B02764  2/27/2015             4253  38780
347                  B02682  2/27/2015             1510  14975
348                  B02598  2/28/2015              994  10319
349                  B02764  2/28/2015             3952  39812
350                  B02617  2/28/2015             1372  14022
351                  B02682  2/28/2015             1386  14472
352                  B02512  2/28/2015              230   1803
353                  B02765  2/28/2015              747   7753

[354 rows x 4 columns]

In [5]:
#creating date dataframe
datedf=df.loc[:,'date']
print(datedf)

0       1/1/2015
1       1/1/2015
2       1/1/2015
3       1/1/2015
4       1/1/2015
5       1/1/2015
6       1/2/2015
7       1/2/2015
8       1/2/2015
9       1/2/2015
10      1/2/2015
11      1/2/2015
12      1/3/2015
13      1/3/2015
14      1/3/2015
15      1/3/2015
16      1/3/2015
17      1/3/2015
18      1/4/2015
19      1/4/2015
20      1/4/2015
21      1/4/2015
22      1/4/2015
23      1/4/2015
24      1/5/2015
25      1/5/2015
26      1/5/2015
27      1/5/2015
28      1/5/2015
29      1/5/2015
         ...
324    2/24/2015
325    2/24/2015
326    2/24/2015
327    2/24/2015
328    2/24/2015
329    2/24/2015
330    2/25/2015
331    2/25/2015
332    2/25/2015
333    2/25/2015
334    2/25/2015
335    2/25/2015
336    2/26/2015
337    2/26/2015
338    2/26/2015
339    2/26/2015
340    2/26/2015
341    2/26/2015
342    2/27/2015
343    2/27/2015
344    2/27/2015
345    2/27/2015
346    2/27/2015
347    2/27/2015
348    2/28/2015
349    2/28/2015
350    2/28/2015
351    2/28/2015
352    2/28/2015
353    2/28/2015
Name: date, dtype: object

Count how many trips were taken from different base numbers included in data; ignore sorting, because the value is verifiably consistent from each.

In [6]:
datedf.value_counts(sort=False)

1/2/2015     6
2/28/2015    6
2/1/2015     6
1/11/2015    6
2/7/2015     6
1/7/2015     6
2/9/2015     6
1/13/2015    6
1/26/2015    6
2/12/2015    6
2/26/2015    6
2/6/2015     6
1/15/2015    6
2/4/2015     6
1/18/2015    6
2/2/2015     6
1/27/2015    6
2/5/2015     6
2/25/2015    6
1/28/2015    6
2/16/2015    6
2/3/2015     6
2/11/2015    6
2/18/2015    6
1/23/2015    6
1/6/2015     6
1/8/2015     6
1/25/2015    6
1/12/2015    6
1/31/2015    6
2/20/2015    6
2/23/2015    6
1/30/2015    6
1/5/2015     6
1/3/2015     6
1/10/2015    6
1/22/2015    6
1/19/2015    6
2/17/2015    6
1/14/2015    6
1/20/2015    6
2/14/2015    6
1/1/2015     6
2/10/2015    6
2/27/2015    6
1/29/2015    6
2/15/2015    6
2/24/2015    6
2/19/2015    6
1/24/2015    6
1/9/2015     6
2/22/2015    6
1/17/2015    6
2/8/2015     6
1/21/2015    6
1/4/2015     6
2/21/2015    6
1/16/2015    6
2/13/2015    6
Name: date, dtype: int64

### Data Cleaning

In [8]:
uberApril2014 = pd.read_csv("D:/networkUber/pickupsNY/uber-raw-data-apr14.csv", index_col = False)
uberApril2014.columns=['Date', 'Latitude', 'Longitude', 'Base']
uberApril2014.drop(['Base'], axis=1, inplace=True)

In [9]:
uberApril2014["Type"]="Uber"
uberApril2014["Date"]=pd.to_datetime(uberApril2014["Date"]).dt.strftime('%Y-%m-%d-%H')

In [18]:
uberJanJune15df = pd.read_csv("D:/networkUber/pickupsNY/uber-raw-data-janjune-15.csv")

In [19]:
print(uberJanJune15df)

         Dispatching_base_num          Pickup_date Affiliated_base_num  \
0                      B02617  2015-05-17 09:47:00              B02617
1                      B02617  2015-05-17 09:47:00              B02617
2                      B02617  2015-05-17 09:47:00              B02617
3                      B02617  2015-05-17 09:47:00              B02774
4                      B02617  2015-05-17 09:47:00              B02617
5                      B02617  2015-05-17 09:47:00              B02617
6                      B02617  2015-05-17 09:47:00              B02617
7                      B02617  2015-05-17 09:47:00              B02764
8                      B02617  2015-05-17 09:47:00              B02617
9                      B02617  2015-05-17 09:47:00              B02764
10                     B02617  2015-05-17 09:48:00              B02617
11                     B02617  2015-05-17 09:48:00              B02617
12                     B02617  2015-05-17 09:49:00              B02617
13                     B02617  2015-05-17 09:49:00              B02617
14                     B02617  2015-05-17 09:49:00              B02617
15                     B02617  2015-05-17 09:49:00              B02617
16                     B02617  2015-05-17 09:49:00              B02617
17                     B02617  2015-05-17 09:49:00              B02617
18                     B02617  2015-05-17 09:49:00              B02617
19                     B02617  2015-05-17 09:49:00              B02617
20                     B02617  2015-05-17 09:49:00              B02682
21                     B02617  2015-05-17 09:50:00              B02617
22                     B02617  2015-05-17 09:50:00              B02617
23                     B02617  2015-05-17 09:50:00              B02617
24                     B02617  2015-05-17 09:50:00              B02617
25                     B02617  2015-05-17 09:50:00              B02617
26                     B02617  2015-05-17 09:50:00              B02617
27                     B02617  2015-05-17 09:50:00              B02764
28                     B02617  2015-05-17 09:50:00              B02617
29                     B02617  2015-05-17 09:51:00              B02617
...                       ...                  ...                 ...
14270449               B02765  2015-05-08 15:39:00              B02765
14270450               B02765  2015-05-08 15:39:00              B00014
14270451               B02765  2015-05-08 15:39:00              B02765
14270452               B02765  2015-05-08 15:39:00              B02765
14270453               B02765  2015-05-08 15:39:00              B02765
14270454               B02765  2015-05-08 15:39:00              B02682
14270455               B02765  2015-05-08 15:40:00              B00271
14270456               B02765  2015-05-08 15:40:00              B02765
14270457               B02765  2015-05-08 15:40:00              B00789
14270458               B02765  2015-05-08 15:40:00              B02765
14270459               B02765  2015-05-08 15:40:00              B02765
14270460               B02765  2015-05-08 15:41:00              B02764
14270461               B02765  2015-05-08 15:41:00              B02253
14270462               B02765  2015-05-08 15:41:00              B02682
14270463               B02765  2015-05-08 15:41:00              B02345
14270464               B02765  2015-05-08 15:41:00              B02765
14270465               B02765  2015-05-08 15:41:00              B02765
14270466               B02765  2015-05-08 15:41:00              B02765
14270467               B02765  2015-05-08 15:41:00              B02765
14270468               B02765  2015-05-08 15:42:00              B02096
14270469               B02765  2015-05-08 15:42:00              B02764
14270470               B02765  2015-05-08 15:42:00              B02765
14270471               B02765  2015-05-08 15:42:00              B02765
14270472               B02765  2015-05-08 15:42:00              B02765
14270473               B02765  2015-05-08 15:43:00              B02711
14270474               B02765  2015-05-08 15:43:00              B02765
14270475               B02765  2015-05-08 15:43:00              B02765
14270476               B02765  2015-05-08 15:43:00              B02765
14270477               B02765  2015-05-08 15:44:00              B01899
14270478               B02765  2015-05-08 15:44:00              B02682

          locationID
0                141
1                 65
2                100
3                 80
4                 90
5                228
6                  7
7                 74
8                249
9                 22
10               263
11                61
12               229
13               164
14               237
15               142
16               188
17               237
18               224
19               238
20               242
21                95
22               141
23               236
24               233
25               230
26               162
27               234
28               161
29                87
...              ...
14270449         163
14270450         239
14270451         239
14270452         238
14270453         211
14270454          68
14270455         170
14270456         211
14270457         236
14270458         161
14270459         186
14270460          50
14270461          13
14270462         192
14270463         262
14270464         237
14270465         233
14270466         148
14270467          33
14270468         232
14270469          79
14270470          37
14270471         161
14270472           7
14270473          25
14270474         186
14270475         263
14270476          90
14270477          45
14270478         144

[14270479 rows x 4 columns]

### Data Modelling Uber Data with Python

In [21]:
enhancedJanJune15 = pd.read_csv("D:/networkUber/uber_nyc_enriched.csv")

In [22]:
print(enhancedJanJune15)

                 pickup_dt        borough  pickups  spd   vsb  temp  dewp  \
0      2015-01-01 01:00:00          Bronx      152  5.0  10.0  30.0   7.0
1      2015-01-01 01:00:00       Brooklyn     1519  5.0  10.0  30.0   7.0
2      2015-01-01 01:00:00            EWR        0  5.0  10.0  30.0   7.0
3      2015-01-01 01:00:00      Manhattan     5258  5.0  10.0  30.0   7.0
4      2015-01-01 01:00:00         Queens      405  5.0  10.0  30.0   7.0
5      2015-01-01 01:00:00  Staten Island        6  5.0  10.0  30.0   7.0
6      2015-01-01 01:00:00            NaN        4  5.0  10.0  30.0   7.0
7      2015-01-01 02:00:00          Bronx      120  3.0  10.0  30.0   6.0
8      2015-01-01 02:00:00       Brooklyn     1229  3.0  10.0  30.0   6.0
9      2015-01-01 02:00:00            EWR        0  3.0  10.0  30.0   6.0
10     2015-01-01 02:00:00      Manhattan     4345  3.0  10.0  30.0   6.0
11     2015-01-01 02:00:00         Queens      331  3.0  10.0  30.0   6.0
12     2015-01-01 02:00:00  Staten Island        7  3.0  10.0  30.0   6.0
13     2015-01-01 02:00:00            NaN       11  3.0  10.0  30.0   6.0
14     2015-01-01 03:00:00          Bronx      132  5.0  10.0  30.0   8.0
15     2015-01-01 03:00:00       Brooklyn     1601  5.0  10.0  30.0   8.0
16     2015-01-01 03:00:00            EWR        0  5.0  10.0  30.0   8.0
17     2015-01-01 03:00:00      Manhattan     4577  5.0  10.0  30.0   8.0
18     2015-01-01 03:00:00         Queens      440  5.0  10.0  30.0   8.0
19     2015-01-01 03:00:00  Staten Island       12  5.0  10.0  30.0   8.0
20     2015-01-01 03:00:00            NaN        1  5.0  10.0  30.0   8.0
21     2015-01-01 04:00:00          Bronx      128  5.0  10.0  29.0   9.0
22     2015-01-01 04:00:00       Brooklyn     1390  5.0  10.0  29.0   9.0
23     2015-01-01 04:00:00            EWR        0  5.0  10.0  29.0   9.0
24     2015-01-01 04:00:00      Manhattan     3003  5.0  10.0  29.0   9.0
25     2015-01-01 04:00:00         Queens      344  5.0  10.0  29.0   9.0
26     2015-01-01 04:00:00  Staten Island        5  5.0  10.0  29.0   9.0
27     2015-01-01 04:00:00            NaN        2  5.0  10.0  29.0   9.0
28     2015-01-01 05:00:00          Bronx       87  5.0  10.0  28.0   9.0
29     2015-01-01 05:00:00       Brooklyn      759  5.0  10.0  28.0   9.0
...                    ...            ...      ...  ...   ...   ...   ...
29071  2015-06-30 19:00:00      Manhattan     4585  5.0  10.0  80.0  58.0
29072  2015-06-30 19:00:00         Queens      417  5.0  10.0  80.0  58.0
29073  2015-06-30 19:00:00  Staten Island        3  5.0  10.0  80.0  58.0
29074  2015-06-30 19:00:00            NaN        4  5.0  10.0  80.0  58.0
29075  2015-06-30 20:00:00          Bronx       66  8.0  10.0  80.0  58.0
29076  2015-06-30 20:00:00       Brooklyn      817  8.0  10.0  80.0  58.0
29077  2015-06-30 20:00:00            EWR        0  8.0  10.0  80.0  58.0
29078  2015-06-30 20:00:00      Manhattan     4210  8.0  10.0  80.0  58.0
29079  2015-06-30 20:00:00         Queens      438  8.0  10.0  80.0  58.0
29080  2015-06-30 20:00:00  Staten Island        3  8.0  10.0  80.0  58.0
29081  2015-06-30 20:00:00            NaN        5  8.0  10.0  80.0  58.0
29082  2015-06-30 21:00:00          Bronx       57  7.0  10.0  76.0  61.0
29083  2015-06-30 21:00:00       Brooklyn      829  7.0  10.0  76.0  61.0
29084  2015-06-30 21:00:00            EWR        0  7.0  10.0  76.0  61.0
29085  2015-06-30 21:00:00      Manhattan     4313  7.0  10.0  76.0  61.0
29086  2015-06-30 21:00:00         Queens      483  7.0  10.0  76.0  61.0
29087  2015-06-30 21:00:00  Staten Island        2  7.0  10.0  76.0  61.0
29088  2015-06-30 22:00:00          Bronx       53  5.0  10.0  76.0  64.0
29089  2015-06-30 22:00:00       Brooklyn      860  5.0  10.0  76.0  64.0
29090  2015-06-30 22:00:00            EWR        0  5.0  10.0  76.0  64.0
29091  2015-06-30 22:00:00      Manhattan     4452  5.0  10.0  76.0  64.0
29092  2015-06-30 22:00:00         Queens      556  5.0  10.0  76.0  64.0
29093  2015-06-30 22:00:00  Staten Island        2  5.0  10.0  76.0  64.0
29094  2015-06-30 23:00:00          Bronx       67  7.0  10.0  75.0  65.0
29095  2015-06-30 23:00:00       Brooklyn      990  7.0  10.0  75.0  65.0
29096  2015-06-30 23:00:00            EWR        0  7.0  10.0  75.0  65.0
29097  2015-06-30 23:00:00      Manhattan     3828  7.0  10.0  75.0  65.0
29098  2015-06-30 23:00:00         Queens      580  7.0  10.0  75.0  65.0
29099  2015-06-30 23:00:00  Staten Island        0  7.0  10.0  75.0  65.0
29100  2015-06-30 23:00:00            NaN        3  7.0  10.0  75.0  65.0

          slp  pcp01  pcp06  pcp24   sd hday
0      1023.5    0.0    0.0    0.0  0.0    Y
1      1023.5    0.0    0.0    0.0  0.0    Y
2      1023.5    0.0    0.0    0.0  0.0    Y
3      1023.5    0.0    0.0    0.0  0.0    Y
4      1023.5    0.0    0.0    0.0  0.0    Y
5      1023.5    0.0    0.0    0.0  0.0    Y
6      1023.5    0.0    0.0    0.0  0.0    Y
7      1023.0    0.0    0.0    0.0  0.0    Y
8      1023.0    0.0    0.0    0.0  0.0    Y
9      1023.0    0.0    0.0    0.0  0.0    Y
10     1023.0    0.0    0.0    0.0  0.0    Y
11     1023.0    0.0    0.0    0.0  0.0    Y
12     1023.0    0.0    0.0    0.0  0.0    Y
13     1023.0    0.0    0.0    0.0  0.0    Y
14     1022.3    0.0    0.0    0.0  0.0    Y
15     1022.3    0.0    0.0    0.0  0.0    Y
16     1022.3    0.0    0.0    0.0  0.0    Y
17     1022.3    0.0    0.0    0.0  0.0    Y
18     1022.3    0.0    0.0    0.0  0.0    Y
19     1022.3    0.0    0.0    0.0  0.0    Y
20     1022.3    0.0    0.0    0.0  0.0    Y
21     1022.0    0.0    0.0    0.0  0.0    Y
22     1022.0    0.0    0.0    0.0  0.0    Y
23     1022.0    0.0    0.0    0.0  0.0    Y
24     1022.0    0.0    0.0    0.0  0.0    Y
25     1022.0    0.0    0.0    0.0  0.0    Y
26     1022.0    0.0    0.0    0.0  0.0    Y
27     1022.0    0.0    0.0    0.0  0.0    Y
28     1021.8    0.0    0.0    0.0  0.0    Y
29     1021.8    0.0    0.0    0.0  0.0    Y
...       ...    ...    ...    ...  ...  ...
29071  1012.5    0.0    0.0    0.0  0.0    N
29072  1012.5    0.0    0.0    0.0  0.0    N
29073  1012.5    0.0    0.0    0.0  0.0    N
29074  1012.5    0.0    0.0    0.0  0.0    N
29075  1012.4    0.0    0.0    0.0  0.0    N
29076  1012.4    0.0    0.0    0.0  0.0    N
29077  1012.4    0.0    0.0    0.0  0.0    N
29078  1012.4    0.0    0.0    0.0  0.0    N
29079  1012.4    0.0    0.0    0.0  0.0    N
29080  1012.4    0.0    0.0    0.0  0.0    N
29081  1012.4    0.0    0.0    0.0  0.0    N
29082  1012.4    0.0    0.0    0.0  0.0    N
29083  1012.4    0.0    0.0    0.0  0.0    N
29084  1012.4    0.0    0.0    0.0  0.0    N
29085  1012.4    0.0    0.0    0.0  0.0    N
29086  1012.4    0.0    0.0    0.0  0.0    N
29087  1012.4    0.0    0.0    0.0  0.0    N
29088  1011.9    0.0    0.0    0.0  0.0    N
29089  1011.9    0.0    0.0    0.0  0.0    N
29090  1011.9    0.0    0.0    0.0  0.0    N
29091  1011.9    0.0    0.0    0.0  0.0    N
29092  1011.9    0.0    0.0    0.0  0.0    N
29093  1011.9    0.0    0.0    0.0  0.0    N
29094  1011.8    0.0    0.0    0.0  0.0    N
29095  1011.8    0.0    0.0    0.0  0.0    N
29096  1011.8    0.0    0.0    0.0  0.0    N
29097  1011.8    0.0    0.0    0.0  0.0    N
29098  1011.8    0.0    0.0    0.0  0.0    N
29099  1011.8    0.0    0.0    0.0  0.0    N
29100  1011.8    0.0    0.0    0.0  0.0    N

[29101 rows x 13 columns]