# Network Analysis | Uber

My name is Ray Johnson and I am a student finishing my final semester at the Graduate School of Information Science at the University of Illinois in Urbana-Champaign. 

I end this semester with three courses on Statistical Modeling (with R), an Introduction to Programming with Python, and Network Analysis. In addition, I have had a course in Data Cleaning, Introduction to Databases with MySql, and a Web Design and Accessibility course for Organizations.

I've acquired certificates from Lynda.com in Introduction to Programming with JavaScript, and completed three certificates from John Hopkin's Data Science specialization in Data Science.

I intend to employ methods I've learned in and out of the university to explore the datasets released to the public with the Freedom of Information Act, in order to see what I can glean from their data.

## Bibliography

The work listed below is cited according to the standards of the seventh edition of the Modern Language Association. 
This aspect of workflow benefitted from Zotero; an auto-generated report of listed sources, including abstracts from works consulted, can be found at this web address: cpanel.ischool.illinois.edu/~rrjohns2/bibreport.html.

## Works Consulted

### Books:

Downey, Allen B. Think Complexity. N.p. Web. 18 Apr. 2017. 1.2.3.

### Book Sections
Brownley, Clinton W. “Concatenate Data from Multiple Workbooks.” Working with 
Excel Files in Python. O’Reilly Media, Inc., 2016. Safari Books Online. Web. 8 May 2017.

Diener, Michael. “Python Geospatial Analysis Cookbook.” Python Geospatial 
Analysis Cookbook. Packt Publishing, 2015. Safari Books Online. Web. 8 May 2017.

ericmjl. “Network-Analysis-Made-Simple.” GitHub. N.p., n.d. Web. 21 Apr. 2017.

Fandango, Armando. “Statistics and Linear Algebra.” Python Data Analysis - Second Edition. 2nd ed. Packt Publishing, 2017. Safari Books Online. Web. 8 May 2017.

Idris, Ivan. “Creating Attractive Data Visualizations.” Python Data Analysis 
Cookbook. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

Lawhead, Joel. “Automating QGIS.” QGIS Python Programming Cookbook - Second Edition. 2nd ed. Packt Publishing, 2017. Safari Books Online. Web. 8 May 2017.

Madhavan, Samir. “Uncovering Machine Learning.” Mastering Python for Data Science. Packt Publishing, 2015. Safari Books Online. Web. 8 May 2017.

McKinney, Wes. “Data Loading, Storage, and File Formats.” Python for Data Analysis. O’Reilly Media, Inc., 2012. Safari Books Online. Web. 8 May 2017.

---. “Data Wrangling: Clean, Transform, Merge, Reshape.” Python for Data Analysis. O’Reilly Media, Inc., 2012. Safari Books Online. Web. 8 May 2017.

---. “Plotting and Visualization.” Python for Data Analysis. O’Reilly Media, Inc., 2012. Safari Books Online. Web. 8 May 2017.

Mueller, John Paul, and Luca Massaron. “Dealing with Dates in Your Data.” Python for Data Science For Dummies. For Dummies, 2015. Safari Books Online. Web. 8 May 2017.

---. “Dealing with Missing Data.” Python for Data Science For Dummies. For Dummies, 2015. Safari Books Online. Web. 8 May 2017.

---. “Visualizing the Data.” Python for Data Science For Dummies. For Dummies, 2015. Safari Books Online. Web. 8 May 2017.

Nelli, Fabio. “Appendix B: Open Data Sources.” Python Data Analytics: Data Analysis and Science Using Pandas, Matplotlib, and the Python Programming Language. Apress, 2015. Safari Books Online. Web. 8 May 2017.

---. “Data Visualization with Matplotlib.” Python Data Analytics: Data Analysis and Science Using Pandas, Matplotlib, and the Python Programming Language. Apress, 2015. Safari Books Online. Web. 8 May 2017.

---. “Python and Data Analysis.” Python Data Analytics: Data Analysis and Science Using Pandas, Matplotlib, and the Python Programming Language. Apress, 2015. Safari Books Online. Web. 8 May 2017.

Persson, Magnus Vilhelm, and Luiz Felipe Martins. “A. More on Jupyter Notebook and Matplotlib Styles.” Mastering Python Data Analysis. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

---. “Learning About Models.” Mastering Python Data Analysis. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

Squire, Megan. “Expanding Your Data Mining Toolbox.” Mastering Data Mining with Python – Find Patterns Hidden in Your Data. Packt Publishing, 2016. Safari Books Online. Web. 8 May 2017.

Subramanian, Gopi. “Data Analysis – Explore and Wrangle.” Python Data Science Cookbook. Packt Publishing, 2015. Safari Books Online. Web. 8 May 2017.
Vo.T.H, Phuong et al. “Advanced Uses of Pandas for Data Analysis.” Python: Data Analytics and Visualization. Packt Publishing, 2017. Safari Books Online. Web. 8 May 2017.


### DataCamp Course:

Ma, Eric. “Introduction to Networks | Python.” Web. 21 Apr. 2017.

### GitHub Repository Walk-Throughs:

ericmjl. “Network-Analysis-Made-Simple.” GitHub. Web. 18 Apr. 2017. https://github.com/ericmjl/Network-Analysis-Made-Simple.

briatte. "Awesome Network Analysis." GitHub. 14 Apr. 2017
https://github.com/briatte/awesome-network-analysis.

"Network Analysis Made Simple." GitHub. 14 Apr. 2017.
https://github.com/ericmjl/Network-Analysis-Made-Simple

### Uber Data - Over 4.5 Million Uber pick ups in New York City Explored

andrewflowers. “Fivethirtyeight/Uber-Tlc-Foil-Response.” GitHub. Web. 16 Apr. 2017.
https://github.com/toddwschneider/nyc-taxi-data.

"Social Network Analysis with Python," a talk given by Maksim Tsvetovat and Alex Kouznetsov at PyCon 2012.
https://github.com/maksim2042/PyCon2012

### Freedom of Information Act - FOIL Datasets, Uber

https://github.com/fivethirtyeight/uber-tlc-foil-response/tree/master/uber-trip-data

https://archive.org/details/nycTaxiTripData2013

### Import Necessary Modules for Processing

In [2]:
import numpy as np # linear algebra functionality
import pandas as pd # data processing, CSV files I/O added functionality
import matplotlib.pyplot as plt

# I've uploaded a folder "data" which contains data from one month to test

In [3]:
df=pd.read_csv("../finalProject/data/Uber-Jan-Feb-FOIL.csv")

In [4]:
print(df)

    dispatching_base_number       date  active_vehicles  trips
0                    B02512   1/1/2015              190   1132
1                    B02765   1/1/2015              225   1765
2                    B02764   1/1/2015             3427  29421
3                    B02682   1/1/2015              945   7679
4                    B02617   1/1/2015             1228   9537
5                    B02598   1/1/2015              870   6903
6                    B02598   1/2/2015              785   4768
7                    B02617   1/2/2015             1137   7065
8                    B02512   1/2/2015              175    875
9                    B02682   1/2/2015              890   5506
10                   B02765   1/2/2015              196   1001
11                   B02764   1/2/2015             3147  19974
12                   B02765   1/3/2015              201   1526
13                   B02617   1/3/2015             1188  10664
14                   B02598   1/3/2015              818   7432
15                   B02682   1/3/2015              915   8010
16                   B02512   1/3/2015              173   1088
17                   B02764   1/3/2015             3215  29729
18                   B02512   1/4/2015              147    791
19                   B02682   1/4/2015              812   5621
20                   B02598   1/4/2015              746   5223
21                   B02765   1/4/2015              183    993
22                   B02617   1/4/2015             1088   7729
23                   B02764   1/4/2015             2862  20441
24                   B02512   1/5/2015              194    984
25                   B02682   1/5/2015              951   6012
26                   B02617   1/5/2015             1218   7899
27                   B02764   1/5/2015             3387  20926
28                   B02598   1/5/2015              907   5798
29                   B02765   1/5/2015              227   1133
..                      ...        ...              ...    ...
324                  B02764  2/24/2015             3965  34686
325                  B02512  2/24/2015              247   1869
326                  B02598  2/24/2015             1061   9954
327                  B02682  2/24/2015             1346  12497
328                  B02617  2/24/2015             1456  13719
329                  B02765  2/24/2015              698   6390
330                  B02512  2/25/2015              246   1647
331                  B02598  2/25/2015             1076   9405
332                  B02765  2/25/2015              706   6178
333                  B02682  2/25/2015             1395  12693
334                  B02617  2/25/2015             1473  12811
335                  B02764  2/25/2015             3934  31957
336                  B02598  2/26/2015             1134  10661
337                  B02617  2/26/2015             1539  14461
338                  B02682  2/26/2015             1465  13814
339                  B02512  2/26/2015              243   1797
340                  B02765  2/26/2015              745   6744
341                  B02764  2/26/2015             4101  36091
342                  B02765  2/27/2015              786   7563
343                  B02617  2/27/2015             1551  14677
344                  B02598  2/27/2015             1114  10755
345                  B02512  2/27/2015              272   2056
346                  B02764  2/27/2015             4253  38780
347                  B02682  2/27/2015             1510  14975
348                  B02598  2/28/2015              994  10319
349                  B02764  2/28/2015             3952  39812
350                  B02617  2/28/2015             1372  14022
351                  B02682  2/28/2015             1386  14472
352                  B02512  2/28/2015              230   1803
353                  B02765  2/28/2015              747   7753

[354 rows x 4 columns]

In [8]:
#creating date dataframe
datedf=df.loc[:,'date']
print(datedf)

0       1/1/2015
1       1/1/2015
2       1/1/2015
3       1/1/2015
4       1/1/2015
5       1/1/2015
6       1/2/2015
7       1/2/2015
8       1/2/2015
9       1/2/2015
10      1/2/2015
11      1/2/2015
12      1/3/2015
13      1/3/2015
14      1/3/2015
15      1/3/2015
16      1/3/2015
17      1/3/2015
18      1/4/2015
19      1/4/2015
20      1/4/2015
21      1/4/2015
22      1/4/2015
23      1/4/2015
24      1/5/2015
25      1/5/2015
26      1/5/2015
27      1/5/2015
28      1/5/2015
29      1/5/2015
         ...
324    2/24/2015
325    2/24/2015
326    2/24/2015
327    2/24/2015
328    2/24/2015
329    2/24/2015
330    2/25/2015
331    2/25/2015
332    2/25/2015
333    2/25/2015
334    2/25/2015
335    2/25/2015
336    2/26/2015
337    2/26/2015
338    2/26/2015
339    2/26/2015
340    2/26/2015
341    2/26/2015
342    2/27/2015
343    2/27/2015
344    2/27/2015
345    2/27/2015
346    2/27/2015
347    2/27/2015
348    2/28/2015
349    2/28/2015
350    2/28/2015
351    2/28/2015
352    2/28/2015
353    2/28/2015
Name: date, dtype: object

### Data Cleaning with Python

### Data Modelling Uber Data with Python